@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: white;
}
html, body {
  min-height: 100%;
}
body {
  background: radial-gradient(at left, rgb(202, 30, 174) 0%, rgb(23, 0, 66) 70%, rgb(228, 241, 34) 190%);
  background-repeat: no-repeat;
}
p {
  margin: 16px auto;
  line-height: 1.5em;
}

/* Layout and navigation */

.layout {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
}

nav .links {
  display: inline-block;
  text-align: end;
}

nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
}

nav a:hover {
  border-color: white;
}

footer p {
  text-align: center;
  color: #bbb;
  margin: 40px auto;
}

.main {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-size: 30px;
  font-weight: 500;
}

.main::after {
  content: '';
  display: block;
  width: 0;
  height: 5px;
  background: white;
  transition: width .3s;
}

.main:hover::after {
  width: 100%;
}

.job-types {
  height: 1000px;
  background: black;
  position: relative;
  animation: backInLeft;
  animation-duration: 4s;
}
