@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: white;
}
html, body {
  min-height: 100%;
}
body {
  background: radial-gradient(at left, rgb(202, 30, 174) 0%, rgb(23, 0, 66) 70%, rgb(228, 241, 34) 190%);
  background-repeat: no-repeat;
}
p {
  margin: 16px auto;
  line-height: 1.5em;
}

/* Layout and navigation */

.layout {
  margin: 0 auto;
}
  
footer p {
  text-align: center;
  color: #bbb;
  margin: 40px auto;
}

.job-types {
  height: 1000px;
  background: black;
  position: relative;
  animation: backInLeft;
  animation-duration: 4s;
}
  
.footer {
  height: 50px;
  align-items: center;
  text-align: center;
  display: flex;
}