.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  max-height: 800px;
  padding-bottom: 200px;
}
.header h2 {
  font-size: 4em;
}
.header h3 {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  background: #db1568;
  padding: 10px 16px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 500;
}

.btn:hover {
  background: #ff0099;
}

.jobSpaDiv {
  background: transparent;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 80%;
  font-size: 20px;
}

.jobSpaTitle {
  text-align: center;
  font-size: 55px;
}

.jobSpaparagraph {
  text-align: center;
}

.myPhoto {
  animation-name: photo-animation;
  animation-duration: 2.5s;
  animation-delay: 3s;
  animation-fill-mode: both;
  max-width: 100%;
  display: inline-block;
  position: relative;
}

@keyframes photo-animation {
  0%   { opacity: 0; right:-100px; top:0px; }
  100%  { right:100px; top:0px; }
}

.developTitle {
  animation-name: develop-title-animation;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  max-width: 100%;
  display: inline-block;
  position: relative;
}

@keyframes develop-title-animation {
  0%   { opacity: 0; top:-300px; }
  100%  { top:0px; }
}

.maintainTitle {
  animation-name: maintain-title-animation;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  max-width: 100%;
  display: inline-block;
  position: relative;
}

@keyframes maintain-title-animation {
  0%   { opacity: 0; left:-300px; }
  100%  { left:0px; }
}